<div class="container mt-3" *ngIf="clients">
    <h2>Table clients</h2>
    <br>
    <a routerLink="/client/add" class="btn btn-primary" styles="align">Add Client</a>

    <!-- <form class="d-flex" method="get" action="/apiclient/clientbyprenom">
		<div class=container>
			<div class="row mt-4 pl-2">
				<div class="col-md-2">
       				<input class="form-control me-2" type="text" placeholder="Search By Prenom" name="pre" id="pre">
       			</div>
       			<div class="col-md-8">
       				<input type="submit" class="btn btn-primary" value="Search">
       			</div>
       		</div>
       	</div>
    </form> -->

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Id</th>
			<th>CIN</th>
			<th>Nom</th>
			<th>Prenom</th>
			<th>Date de naissance</th>
			<th>Telephone</th>
			<th>Numéro permis</th>
			<th>Email</th>
			<th>Action</th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        <tr *ngFor="let c of clients">
            <td>{{ c.id }}</td>
            <td>{{ c.cin }}</td>
            <td>{{ c.nom }}</td>
            <td>{{ c.prenom }}</td>
            <td>{{ c.date_naissance }}</td>
            <td>{{ c.telephone }}</td>
            <td>{{ c.num_permis }}</td>
            <td>{{ c.email }}</td>
            <td>
              <a routerLink="" class="btn btn-danger" style="margin-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              </a>
              <a routerLink="" class="btn btn-warning">
                  <span class="fa fa-edit"></span>
              </a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>