<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">RentCarHadda Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/voiturelist">Liste voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contratlist">Liste contrats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/clientlist">Liste clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categorylist">Liste categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/voiture/add">Ajouter voiture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contrat/add">Ajouter contrat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/client/add">Ajouter client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/category/add">Ajouter categorie</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>