<div class=container>
    <div class="card m-5 p-2">
        <div class="card-header"><h2>Ajouter Voiture</h2></div>
        <div class="card-body">
            <form #fd="ngForm" (ngSubmit)="save(fd)">
                <div class="mb-3 mt-3">
                    <label for="nom">Matricule:</label>
                    <input type="text" class="form-control" 
                        id="matricule" 
                        placeholder="Enter matricule" 
                        ngModel 
                        name="matricule" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="nom">Marque:</label>
                    <input type="text" class="form-control" 
                        id="marque" 
                        placeholder="Enter marque" 
                        ngModel 
                        name="marque" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="nom">Modele:</label>
                    <input type="text" class="form-control" 
                        id="modele" 
                        placeholder="Enter modele" 
                        ngModel 
                        name="modele" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="nom">Couleur:</label>
                    <input type="text" class="form-control" 
                        id="couleur" 
                        placeholder="Enter couleur" 
                        ngModel 
                        name="couleur" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="nom">Puissance:</label>
                    <input type="text" class="form-control" 
                        id="puissance" 
                        placeholder="Enter puissance" 
                        ngModel 
                        name="puissance" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="nom">Cout par jour:</label>
                    <input type="text" class="form-control" 
                        id="cout_par_jour" 
                        placeholder="Enter Cout par jour" 
                        ngModel 
                        name="cout_par_jour" 
                        required 
                        #nom="ngModel"
                    >
                </div>
                <div class="mb-3 mt-3">
                    <label for="category">Categorie</label>
                    <select class="form-control"
                    ngModel
                    name="categorie"
                    required>
                    <option selected hidden ngValue="">choisir une categorie</option>
                    <option *ngFor="let c of categorys" [ngValue]="c">{{c.gamme}}</option>
                    </select>
                </div>

                <!-- <div class="mb-3">
                    <label for="category" class="form-label">Categorie:</label>
                    <%-- <select class="form-control" name="categorie">
                        <option selected hidden value="categorie">Choose here</option>
                        <c:forEach items="${categories}" var="cc">
                            <option value="${cc.id}">${cc.gamme}</option>
                        </c:forEach>
                    </select> --%>
                    <select name="category" class="form-control" >
                        <option selected hidden value="category">Choose here</option>
                        <c:forEach items="${categories}" var="cc">
                            <option value="${cc.id}" <c:if test="${voiture.category.id==cc.id}">selected="true"</c:if>>${cc.gamme} </option>
                        </c:forEach>
                    </select>
                </div> -->

                <div class="mb-3">
                    <label for="file">Photo</label>
                    <input type="file" accept="image/*" 
                    (change)="selectimage($event)"
                    class="form-control-file"
                    > 
                </div>

                <!-- <div class="mb-3">
                    <input type="hidden" name="photo" value="${voiture.photo}" />
                    <label for="photo" class="form-label">Photo:</label>
                    <input type="file" name="file" accept="image/png, image/jpeg" class="form-control">
                </div> -->
                <button [disabled]="!fd.valid" class="btn btn-primary">Submit</button>
            </form>
        </div> 
    </div>
</div>