<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">RentCarHadda Agency</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/apivoiture/all">Liste voitures</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apicontrat/all">Liste contrats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apiclient/all">Liste clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apicategory/all">Liste categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apivoiture/addvoiture">Ajouter voiture</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apicontrat/addcontrat">Ajouter contrat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apiclient/addclient">Ajouter client</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/apicategory/addcategory">Ajouter categorie</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Link</a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>