<div class="container mt-3" *ngIf="voitures">
    <h2>Table voitures</h2>
    <br>
    <a routerLink="/voiture/add" class="btn btn-primary" styles="align">Add Voiture</a>
	  
    <!-- <form action="/apivoiture/voiturebycategory" method=get>
      <div class=container>
          <div class="row mt-4 pl-2">
              <div class="col-md-1">
                  <label for="mc" class="form-label">Categories:</label>
              </div>
              <div class="col-md-3">
                  <select class="form-control" name="categorie" onchange="submit()">
                      <option selected hidden>${categorie}</option>
                      <option value="0"> Toutes les categories </option>
                      <c:forEach items="${categories}" var="cc">
                          <option value="${cc.id}">${cc.gamme}</option>
                      </c:forEach>
                  </select>
              </div>
          </div>
      </div> 
    </form>
    <form class="d-flex" method="get" action="/apivoiture/voiturebymarque">
      <div class=container>
          <div class="row mt-4 pl-2">
              <div class="col-md-2">
                     <input class="form-control me-2" type="text" placeholder="Search By Marque" name="mc" id="mc">
                 </div>
                 <div class="col-md-8">
                     <input type="submit" class="btn btn-primary" value="Search">
                 </div>
             </div>
         </div>
    </form> -->

    <table class="table table-striped">
      <thead>
        <tr>
            <th>Photo</th>
			<th>Id</th>
			<th>Matricule</th>
			<th>Marque</th>
			<th>Modele</th>
			<th>Couleur</th>
			<th>Puissance</th>
			<th>Categorie</th>
			<th>Cout par jour</th>
			<th>Action</th>
        </tr>
      </thead>
      <tbody style="vertical-align: middle;">
        <tr *ngFor="let v of voitures">
            <td><img src="http://localhost:8080/restapivoiture/getImage/{{ v.id }}" width="160" height="auto"></td>
            <td>{{ v.id }}</td>
            <td>{{ v.matricule }}</td>
            <td>{{ v.marque }}</td>
            <td>{{ v.modele }}</td>
            <td>{{ v.couleur }}</td>
            <td>{{ v.puissance }}</td>
            <td>{{ v.category.gamme }}</td>
            <td>{{ v.cout_par_jour }}</td>
            <td>
                <a routerLink="" class="btn btn-danger" style="margin-right: 10px;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </a>
                <a routerLink="" class="btn btn-warning">
                    <span class="fa fa-edit"></span>
                </a>
            </td>
        </tr>
      </tbody>
    </table>
  </div>